
.btn {
    width: 140px;
    padding: 5px 4px;
    margin-bottom: 6px;
    color: #EBEBEB;
    background-color: #7B7B7B;
    border: none;
    position: relative;
    box-shadow: 1px 1px 1px #000,
               -1px -1px 0px #5D5D5D;
    text-shadow: 1px 1px 1px #333;
}

.select-btn-box {
    position: absolute;
    width: 150px;
    height: 30px;
    left: 50%;
    top: 50%;
    margin: 16px 0 0 -65px;
    z-index: 200;
}

